<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Insert Product Page Link</title>
    <!--Load bootstrap.css file-->
    <!--<link rel="stylesheet" href="css/bootstrap.css"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>

          <!--Navbar -->

<!--/.Navbar -->


  

<nav class="navbar navbar-light" style="background-color: #fed541;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:black"><strong>Price Monitor App</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/post" style="color:black">Home</a></li>
      <li><a href="/list" style="color:black">List Product</a></li>
    </ul>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">








          <div align="center">
          <h2>Insert Product Page Link</h2>
          <form action="/post" method="post">
            <div class="form-row">
              <div class="col">
                <input type="text" name="textname" class="form-control" placeholder="url...">
              </div>
              <br>
              <div class="col">
                <button type="submit" class="btn btn-success">SUBMIT</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
 
    <!--Load bootstrap.js file-->
    <script src="js/bootstrap.js"></script>
  </body>
</html>