<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Insert Product Page Link</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-light" style="background-color: #fed541;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="color:black"><strong>Price Monitor App</strong></a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/" style="color:black">Home</a></li>
        <li><a href="/list" style="color:black">List Product</a></li>
      </ul>
    </div>
  </nav>

   <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div align="center">
            <br><br>
            <h2>Insert Product Page Link</h2>
            <form action="/" method="post">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                  <input class="form-control input-lg" type="text" name="textname" placeholder="insert url here ... ">
                </div>
                <br>
                <div class="form-group row">
                  <div class="col-sm-12">
                    <br>
                    <button type="submit" class="btn btn-warning btn-lg">SUBMIT</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--Load bootstrap.js file-->
    <script src="js/bootstrap.js"></script>
  </body>
</html>