<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>All Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.1/js/dataTables.scroller.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">

    <script>
        $(document).ready(function() {
             $('#tabel-data').DataTable({
            "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]]
        });
        } );
    </script>
  </head>
<body>

<nav class="navbar navbar-light" style="background-color: #fed541;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color:black"><strong>Price Monitor App</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/" style="color:black">Home</a></li>
      <li><a href="/list" style="color:black">List Product</a></li>
    </ul>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a id="demo"></a>
         <div align="center">
          <h1>Daftar Produk</h1>
          <br>    
          </div>
                <table id="tabel-data" class="table table-hover">
          <thead>
          <tr>
              <th bgcolor="#fed541">Nama </th>
              <th bgcolor="#fed541">Harga</th>
              <th bgcolor="#fed541">Deskripsi</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
              <td style="vertical-align: middle" width="20%">
              <a href="/product/{{id}}" style="color:blue">{{nama}}</a></td>
              <td style="vertical-align: middle" width="10%">{{harga}}</td>
              <td>{{deskripsi}}</td>
          </tr>
          {{/each}}
          </tbody>
        </table>
        <br><br>
        </div>
      </div>
    </div>
    
    <script src="js/bootstrap.js"></script>
  </body>
</html>