<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Insert Product Page Link</title>
    <!--Load bootstrap.css file-->
    <!--<link rel="stylesheet" href="css/bootstrap.css"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body onload="myFunction()">

          <!--Navbar -->

<!--/.Navbar -->




<nav class="navbar navbar-light" style="background-color: #fed541;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color:black"><strong>Price Monitor App</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/" style="color:black">Home</a></li>
      <li><a href="/list" style="color:black">List Product</a></li>
    </ul>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a id="demo"></a>
         <div align="center">
          <h2>Daftar Produk</h2>
          
          </div>
                <table id="tabel-data" class="table table-hover">
          <thead>
          <tr>
              <th bgcolor="lightgrey">Nama </th>
              <th bgcolor="lightgrey">Harga</th>
              <th bgcolor="lightgrey">Deskripsi</th>
              <th bgcolor="lightgrey">Hapus</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
              <td style="vertical-align: middle">
              <a href="/product/{{id}}" style="color:blue">{{nama}}</a></td>
              <td>{{harga}}</td>
              <td>{{deskripsi}}</td>
              <td style="vertical-align: middle">hapus</td>
          </tr>
          {{/each}}

          </tbody>
        </table>



        </div>
      </div>
    </div>
 
    <!--Load bootstrap.js file-->
    <script src="js/bootstrap.js"></script>
  </body>
</html>